
body {
  background: #fafafa;
  color: #333333;
  margin-top: 0rem;

}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family:'Lexend', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

* {
    font-family:'Josefin Sans', 'Lexend', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

ul {
  margin: 0;
}
  
.bg-steel {
  background-color: #5f788a;
}
.site-header {
  margin-bottom : 1rem;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}


.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  text-decoration: none;

}

a.article-title:hover {
  /* color: #428bca; */
  color: #317650;
  text-decoration: underline;
}
  
.article-content {
  white-space: pre-line;
}
.article-content {
  overflow-wrap: break-word; /* Forces long words to break */
  word-wrap: break-word;  /* Older property, just in case */
  word-break: break-word; /* Forces breaking of unbreakable words */
}


.article-img {
  height: 4.063rem;
  width: 4.063rem;
  margin-right: 1rem;
}


.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.article-metadata a {
  color: #286c26;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 1.563;
  height: 1.563;
  vertical-align: middle;
}

.account-img {
  height: 7.813rem;
  width: 7.813rem;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}

.account-heading {
  font-size: 2.5rem;
}


.large-checkbox {
  width: 60px; /* Adjust the size of the checkbox */
  height: 60px;
  transform: scale(1.5); /* Alternatively, use the scale transform to resize */
}
.navbar .nav-item .nav-link {
  color: #c4be94;
}

.navbar {
  /* background-color: #f7e3ee; */
  background-color: #E6F6DC;

}

.sidebar a {
  text-decoration: none;
  color: grey;
}
.sidebar a:hover {
  text-decoration: underline;
  color: #317650;
}


/* streaks */
.streak-days{
  color: gold;
  font-weight: 900;
  font-family: "lexend"
}
a.btn {
  background-color: lightgrey;
  color:gray;
  font-size: 0.6rem;
  padding: 0.2rem;
}

div.paginated_buttons a.btn {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  border-color: rgb(225, 240, 225);
}
div.paginated_buttons a:hover {
  color: green;
}


#id_notes {
  height: 1.5rem;
}